@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;1,300&family=Exo+2:wght@700&family=Raleway:wght@400;500&family=Righteous&display=swap');@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;1,300&family=Exo+2:wght@700&family=Raleway:wght@400;500&family=Righteous&display=swap');

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #424242;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hero {
  background-color: #420039;
  transform: translate(-9px, 26px);
  width: 100vw;
  height: 475px;
}

.hero h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 48px;
  color: #f9faf8;
  margin-left: 200px;
  width: 350px;
  transform: translateY(100px);
}

.hero p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #d98863;
  margin-left: 200px;
  width: 400px;
  transform: translateY(68px);
}

.hero img {
 border: 5px solid #D72638;
 border-radius: 10px;
 width: 500px;
 position: absolute;
 transform: translate(775px, -150px); 
}

.button-container {
  transform: translateY(60px);
}

.hero button {
  border: 3px outset white;
  margin-left: 200px;
  background-color: #be2332;
  color: white;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  transition: transform .4s ease, background-color .4s ease-out;
}

.hero button:hover {
  background-color: #d87d86;
  cursor: pointer;
  transform: scale(1.1);
}

.hero button:not(:hover) {
  transition-delay: 0s;
}

.secondary-container {
  width: 600px;
}

.content h1 {
  color: #d98863;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  transform: translate(600px, -130px);
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
}

.content p {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #d98863;
  margin-top: 15px;
}

.photo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 50px;
  transform: translate(0px, 125px);
}

.photo1, .photo2, .photo3, .photo4 {
  border: 5px solid #D72638;  
  width: 150px;
  height: 150px;
  border-radius: 15px;
  transition: transform .4s ease;
}

.photo img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.photo:hover {
  transform: scale(1.1);
}

.photo:not(:hover) {
  transition-delay: 0s;
}

.quote {
  background-color: #e5e7eb;
  transform: translate(-9px, 450px);
  width: 100vw;
  height: 425px;
}

.quote i {
  font-size: 36px;
  color: #d98863;
  display: flex;
  justify-content: center;
  transform: translate(350px, 150px);
  width: 60%;
}

.quote h1 {
  font-size: 30px;
  transform: translate(425px, 100px);
}


.sign-container {
  display: flex;
  justify-content: center;
  transform: translateY(550px);
}

.sign-up-box {
  position: absolute;
  background-color: #D72638;
  border-radius: 10px;
  width: 1100px;
  height: 150px;
  border: 5px solid #D72638;
}

.sign-up-box h1 {
  color: white;
  font-size: 24px;
  transform: translate(-310px, -10px);
}

.sign-up-box p {
  font-size: 18px;
  color: #e7e7e9;
  transform: translate(120px, -30px);
}

.button-container2 {
  transform: translate(850px, -95px);
}

.sign-up-box button {
  background-color: #be2332;
  border: 3px outset white;
  color: white;
  border-radius: 10px;
  width: 130px;
  height: 40px;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  transition: transform .4s ease, background-color .4s ease-out;
}

.sign-up-box button:hover {
  background-color: #d87d86;
  cursor: pointer;
  transform: scale(1.1);
}

.sign-up-box button:not(:hover) {
  transition-delay: 0s;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #420039;
  transform: translate(-9px, 800px);
  width: 100vw;
  height: 90px;
}

.copyright p {
  position: absolute;
  font-size: 18px;
  color: #d98863;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
}

.brand-title {
  margin-top: 10px;
  margin-left: 185px;
  cursor: pointer;
}

.brand-title img {
  width: 50px;
}

.nav-container {
  position: fixed;
  width: 100vw;
  transform: translateY(-4px);
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #420039;
}

.nav-links {
  display: flex;
  margin-right: 150px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.nav-links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 25px;
  transform: translateX(-80px);
}

.nav-links a {
  color: #d98863;
  text-decoration: none;
  transition: all .4s ease;
  cursor: pointer;
  font-size: 18px;
}

a::after {
  content: "";
  position: absolute;
  background-color: #d99678;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-links a:hover::after {
  width: 100%
}